@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header {
    font-family: "Poppins";
    display: flexbox;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    font-weight: 300;
    font-size: 24;
    max-width: 560;
    margin-bottom: 30;
    margin: 2em;
}

h2 {
    margin-left: 6rem;
    margin-right: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    font-weight: bold;
}